.lms-slide {
  &-full-width {
    .lms-grid-container {
      height: 100%;
      max-height: 100%;
      overflow-y: auto;
      flex-direction: row;

      &::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #2323a9;
      }

      .lms-grid-block-full-width {
        width: 100%;
        min-height: 322px;
        flex: auto;
      }
    }
  }
}