.lms-course {
  &-page {

    &__header {
      background: transparent;
    }

    &__title {
      text-decoration: none;
      font-weight: bold;
      font-size: 36px;
      color: #4A4A4A;
    }

    &-description {
      color: #A5A5A5;
      margin-bottom: 70px;

      @media screen and (max-width: 1024px) {
        margin-bottom: 20px;
      }
    }

    &-thumbnail {
      height: 400px;
      width: 100%;
      background-position: 50%;
    }

    &-content {
      &__wrapper {
        max-width: 1000px;
        margin: auto;
        padding: 30px 15px;
      }
    }

    &-buttons {
      display: flex;
      justify-content: flex-end;

      button {
        margin-left: 10px;
      }

      .lms-link {
        margin-right: auto;
        text-decoration: none;
        line-height: 44px;
        color: #4D91DF;

        .is-ie &{
          margin-right: 0;
        }
      }
    }
  }
}