// responsive embeds
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.hide-imp {
  display: none !important;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Ipad pro width is 1024px (portrait)*/
@media screen and (max-width: 1024px) {
  .lms-grid-container {
    //height: 4000px;
    background-color: inherit;
    flex-direction: column;
    //flex-wrap: nowrap;
  }

  .lms-slide-navigation {
    position: fixed;
  }
}

.lms-video-player .mejs__button {
  button {
    background-color: transparent;
    width: 20px;
  }
}

.logo-container img {
  max-height: 80px !important;
  width: auto;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
