.lms-course-controls {
  //position: sticky;
  //bottom: 10px;
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  height: 63px;
  transform: translate3d(0, 0, 0);

  display: flex;
  flex-direction: column;
}

.lms-fullscreen-init {
  flex-direction: column-reverse;

  .lms-slide-control-fullscreen-out {
    display: block;
  }

  .lms-slide-control-fullscreen-in {
    display: none;
  }

  .lms-slide-control-fullscreen-option {
    display: block;
  }

  .lms-slide-controls {
    background: transparent;

    & > *:not(.lms-slide-control-fullscreen-option) {
      display: none;
    }

    & > .lms-slide-control-navigation {
      display: flex;
    }
  }
}

.lms-fullscreen-init.lms-option-shown {
  .lms-slide-controls {
    background: #000;
  }

  //.slide-controls > * {
  //  display: block;
  //}

  .lms-slide-control-audio.audio-inited {
    display: block;
  }

  .lms-slide-control-fullscreen {
    display: block;
    top: 0;
  }
}

.lms-slide-controls {
  background: #000;
  display: flex;
  align-items: center;
  height: 55px;
  width: 100%;
}

.lms-slide-control {
  &-fullscreen-option {
    display: none;
    padding: 0;
    font-size: 0;
    line-height: 1;
    background-color: transparent;

    img {
      height: 53px;
      width: 53px;
    }
  }

  &-fullscreen {
    padding: 0;
    line-height: 1;
    font-size: 0;
    position: absolute;
    top: 10px;
    left: 0;

    img {
      height: 53px;
      width: 53px;
    }

    &-in {
      display: block;
    }

    &-out {
      display: none;
    }
  }

  &-navigation {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    //bottom: 0;
    right: 0;
    /*transform: translateX(-70%) translateY(-100%);*/
    width: 128px;
    padding: 0px;
    padding-bottom: 0px;
    z-index: 22;

    &.disabled {
      display: none;
    }
  }

  &-audio {
    display: none;
    position: absolute;
    top: 15px;
    left: 55px;

    //.mejs__container {
    //  width: 100% !important;
    //}

    .mejs__time {
      display: none;
    }

    .mejs__time-rail {
      display: none;
    }

    &.audio-inited {
      display: block;
    }
  }
}

.lms-course-progress {
  height: 10px;
  background: rgba(0, 0, 0, 0.5);
  //background: #fff;
}

.lms-nav-button > a > img {
  float: right;
  max-width: 53px;
  max-height: 53px;
}

.lms-nav-button {
  padding-right: 10px;
}

.lms-section-control {
  &-navigation {
    display: none;
    justify-content: flex-end;
    position: absolute;
    //bottom: 0;
    right: 0;
    /*transform: translateX(-70%) translateY(-100%);*/
    width: 128px;
    padding: 0px;
    padding-bottom: 0px;
    z-index: 22;

    &.active {
      display: flex;
    }
  }
}