
.lms-notification {
  &-simple {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 111;
    min-width: 250px;
    box-shadow: 3px 3px 5px 0px rgba(110, 104, 110, 1);
  }

  &__wrapper {
    padding: 10px;
  }

  &--light {
    background: #fff;
    color: #333;
    font-family: 'Open Sans', sans-serif;
  }
}

.swal2-container .swal2-popup {
  border-radius: 0;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.5);

  .swal2-title {
    color: #000;
  }

  .swal2-content {
    color: #000;
  }
}


.swal2-container .swal2-popup .swal2-actions {
  width: 100%;
  justify-content: space-between;
  flex-direction: row-reverse;

  button {
    background-color: transparent;
    padding: 0;

    &:hover,
    &:focus {
      background-color: transparent;
    }
    & > *:hover {
      background-color: transparent;
    }
  }

  svg {
    height: 60px;
    width: 60px;
  }
}

.menu-item.has-new-courses {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: -1px;
    right: 14px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #5c8fdc;
  }
}

.nav-container .custom-menu-class li {
  float: none;
}

