.slides {
  position: relative;
  min-height: 100vh;
  width: 100%;
  //padding-bottom: 53px;
}

.slide {
  display: none;
  height: 100vh;
  flex-direction: column;

  @media screen and (max-width: 1024px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &.active {
    display: flex;
  }
}

.site-content {
  padding: 0 !important;
}

@for $i from 1 through 9 {
  .lms-grid-block-#{$i} {
    order: $i*10
  }
}

.lms-grid-container {
  //height: 100vh;
  height: 100%;

  //@media screen and (max-width: 1024px) {
  //  height: auto;
  //}

  .lms-grid-block {
    text-align: center;

    @media screen and (max-width: 1024px) {
      width: 100% !important;
      min-height: 300px;
    }
  }

  &-1 {
    .lms-grid-block {
      height: 100%;
      width: 100%;
    }
  }

  &-2 {
    .lms-grid-block {
      height: 100%;
      width: 50%;
    }
  }

  &-3 {
    .lms-grid-block {
      height: 100%;
      width: 33.3333%;
    }
  }

  &-4 {
    .lms-grid-block {
      height: 50%;
      width: 50%;
    }
  }

  &-5 {
    .lms-grid-block {
      height: 50%;
      width: 33.333%;

      &:nth-last-of-type(-n+2) {
        width: 50%;
      }

      //&:nth-child(10) {
      //  width: 50% !important;
      //}
    }
  }

  &-6 {
    .lms-grid-block {
      height: 50%;
      width: 33.333%;
    }
  }

  &-7 {
    .lms-grid-block {
      height: 33.333%;
      width: 33.333%;

      &:last-child {
        width: 100%;
      }
    }
  }

  &-8 {
    .lms-grid-block {
      height: 33.333%;
      width: 33.333%;

      &:nth-last-of-type(-n+2) {
        width: 50%;
      }
    }
  }

  &-9 {
    .lms-grid-block {
      height: 33.333%;
      width: 33.333%;
    }
  }
}

.lms-grid-block {
  display: block;

  &--link {
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      outline: none;
    }
  }

  &--image {
    .grid-block__wrapper {
      height: 100%;
    }
  }

  &__image {
    object-fit: contain;
    font-family: 'object-fit: contain;';
    height: 100%;
    width: 100%;
  }
}


