/*--------------------------------------------------------------
# Import Modules
--------------------------------------------------------------*/
@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/izitoast/dist/css/iziToast.css';
@import '../../node_modules/dropzone/dist/dropzone.css';
@import '../../node_modules/sweetalert2/dist/sweetalert2.css';
@import '../../node_modules/flatpickr/dist/flatpickr.css';
@import "../../node_modules/dragula/dist/dragula.css";
//@import '../../node_modules/mediaelement/src/css/mediaelementplayer.css';
/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
@import "settings";
@import "partials/buttons";
@import 'components/loader';
@import 'components/modifiedIziToast';
@import 'components/mediaelement';
@import 'components/course-navigation';
//@import 'pages/course';
@import 'quiz/puzzle';
@import 'quiz/dnd-quiz';
@import 'quiz/quiz-layout';
@import 'quiz/quiz-form';
@import 'pages/auth';
@import 'slides/slide-grid';
@import 'slides/slide-header';
@import 'slides/slide-dynamic';
@import 'slides/slide-fullwidth';
@import "components/slide-arrow";
@import "course/course-layout";
@import "course/course-page";
@import 'pages/course-archive';
@import 'pages/activity-page';

.hide-imp {
  display: none !important;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Ipad pro width is 1024px (portrait)*/
@media screen and (max-width: 1024px) {
  .lms-grid-container {
    //height: 4000px;
    background-color: inherit;
    flex-direction: column;
    //flex-wrap: nowrap;
  }

  .lms-slide-navigation {
    position: fixed;
  }
}

.lms-notification {
  &-simple {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 111;
    min-width: 250px;
    box-shadow: 3px 3px 5px 0px rgba(110, 104, 110, 1);
  }

  &__wrapper {
    padding: 10px;
  }

  &--light {
    background: #fff;
    color: #333;
    font-family: 'Open Sans', sans-serif;
  }
}

.swal2-container .swal2-popup {
  border-radius: 0;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.5);

  .swal2-title {
    color: #000;
  }

  .swal2-content {
    color: #000;
  }
}

.lms-video-player .mejs__button {
  button {
    background-color: transparent;
    width: 20px;
  }
}

.logo-container img {
  max-height: 80px !important;
  width: auto;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.swal2-container .swal2-popup .swal2-actions {
  width: 100%;
  justify-content: space-between;
  flex-direction: row-reverse;

  button {
    background-color: transparent;
    padding: 0;

    &:hover,
    &:focus {
      background-color: transparent;
    }
    & > *:hover {
      background-color: transparent;
    }
  }

  svg {
    height: 60px;
    width: 60px;
  }
}

.menu-item.has-new-courses {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: -1px;
    right: 14px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #5c8fdc;
  }
}

.nav-container .custom-menu-class li {
  float: none;
}

.lms-account-page {
  background-color: #f0f0f0;
  padding-top: 30px;
  padding-bottom: 30px;

  &__wrapper {
    max-width: 1200px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.lms-user {
  &-section {
    padding: 30px 50px;
    background: #fff;
    margin-bottom: 30px;

    &__header {
      margin-bottom: 30px;
      background: none;
    }

    &__title {
      text-decoration: none;
      font-weight: 600;
      font-size: 30px;
      color: #4A4A4A;
    }

    &__button {
      background: #094F9A;
      color: #fff;
      border-radius: 5px;
      font-family: 'Open Sans', sans-serif;
      font-weight: lighter;
      padding-left: 35px;
      padding-right: 35px;
      font-size: 17px;
    }
  }

  &-delete-account {
    &::after {
      content: "";
      clear: both;
      display: table;
    }

    &__button {
      float: right;
      border-radius: 5px;
      background: transparent;
      border: 1px solid #BFBFBF;
      color: #BFBFBF;
      font-weight: lighter;
      padding-left: 30px;
      padding-right: 30px;
      font-size: 16px;

      &:hover {
        background: #BFBFBF;
        color: #fff;
      }
    }
  }

  &-form {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;

    &-info {
      width: auto;
      flex: 1 1 auto;
    }

    &-avatar {
      width: 200px;
      padding: 20px;

      &__wrapper {
        width: 200px;
        height: 200px;
        display: block;
        background: #f0f0f0;
        cursor: pointer;
        display: flex;
        align-items: center;

        img {
          //display: block;
          max-width: 100%;
          height: auto;
        }

        input[type=file] {
          appearance: none;
          height: 0;
          width: 0;
          outline: none;
        }
      }
    }

    &__full {
      width: 100%;
    }
  }
}

.lms-form {
  &__group {
    margin-bottom: 20px;
  }

  &__label {
    font-weight: 300;
    font-size: 16px;
    color: #4A4A4A;
    display: block;

    input[type=text],
    input[type=email],
    input[type=password] {
      border-radius: 3px;
      border: 1px solid #BFBFBF;
      display: block;
      width: 100%;
      font-size: 17px;
      margin-top: 10px;
      height: 40px;
      line-height: 40px;
      padding-left: 10px;
      padding-right: 10px;

      &:focus,
      &:active {
        outline: none;
        border-color: #000;
      }
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: BFBFBF;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: BFBFBF;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
      color: BFBFBF;
    }
  }

  &-fake-pass {
    label {
      border-radius: 3px;
      border: 1px solid #BFBFBF;
      display: block;
      width: 100%;
      font-size: 17px;
      margin-top: 10px;
      height: 40px;
      line-height: 40px;
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      background: #d5d5d5;

      span {
        position: absolute;
        top: 0px;
        left: 10px;
      }

      input {
        display: none;
      }
    }
  }
  label.lms-label-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    // text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  }

  /* Hide the browser's default checkbox */
  label.lms-label-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom checkbox */
  label.lms-label-checkbox .lms-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  label.lms-label-checkbox:hover input[type="checkbox"] ~ .lms-checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  label.lms-label-checkbox input[type="checkbox"]:checked ~ .lms-checkmark {
    background-color: #094F9A;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .lms-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  label.lms-label-checkbox input[type="checkbox"]:checked ~ .lms-checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  label.lms-label-checkbox .lms-checkmark:after {
    left: 6px;
    top: 0px;
    width: 9px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  label.lms-label-radio {
    display: block;
    position: relative;
    text-align: left;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    //  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  }

  /* Hide the browser's default radio button */
  label.lms-label-radio input {
    position: absolute;
    opacity: 0;
  }

  /* Create a custom radio button */
  label.lms-label-radio .lms-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  /* On mouse-over, add a grey background color */
  label.lms-label-radio:hover input ~ .lms-checkmark {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  label.lms-label-radio input:checked ~ .lms-checkmark {
    background-color: #094F9A;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  label.lms-label-radio .lms-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  label.lms-label-radio input:checked ~ .lms-checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  label.lms-label-radio .lms-checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

}