/*--------------------------------------------------------------
# Import Modules
--------------------------------------------------------------*/
@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/izitoast/dist/css/iziToast.css';
@import '../../node_modules/mediaelement/src/css/mediaelementplayer.css';
/*--------------------------------------------------------------
# Partials
--------------------------------------------------------------*/
//@import 'partials/typography';
//@import 'partials/buttons';
//@import 'partials/links';
//@import 'partials/helpers';
//@import 'partials/media';
///*--------------------------------------------------------------
//# Components
//--------------------------------------------------------------*/
//@import 'components/header';
/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
@import 'components/loader';
@import 'pages/course';

#course {
  min-height: 100vh;
  width: 100%;
  position: relative;

  &.unloaded {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rebeccapurple;
      z-index:100;
    }
  }
}

.slide-controls {
  position: sticky;
  bottom: 10px;
}

.slide {
  display: none;

  &.active {
    display: block;
  }
}