.inside * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slide-content {
    display: flex;
    flex-wrap: wrap;
}

.slide-content .js-slide-image {
    margin-left: 20px;
}

.slide-content__title {
    width: 100%;
    max-width: 150px;
}

.slide-content__text {
    width: 100%;
    max-width: 450px;
}

.slide-content__text textarea {
    width: 100%;
}

.slide-content__image {
    display: inline-block;
    width: 100%;
    max-width: calc(100% - 350px);
    vertical-align: top;
    /*margin-left: 10px;*/
}

.slide-content__advance-settings-link {
    font-size: 12px;
}

.slide-image__thumbnail-wrapper {
    display: inline-block;
    max-height: 65px;
    max-width: 122px;
    overflow: hidden;
    border: none;
    margin-bottom: 10px;
}

.slide-image__thumbnail {
    /*max-width: 100%;*/
    width: 100%;
    height: auto;
}

.slide-image__help {
    display: inline-block;
    vertical-align: top;
    color: #c6c6c6;
    font-size: 10px;
}

.slide-image__help span {
    line-height: 50px;
}

.slide-image__help a {
    display: block;
}

.slide-image label {
    display: block;
    color: #c6c6c6;
}

.slide-content__advance-settings {
    padding: 0 !important;
    width: 100%;
}

.advanced-settings {
    display: flex;
    flex-wrap: wrap;
}

.advanced-settings > div {
    padding: 10px;
}

.advanced-settings__heading {
    width: 100%;
    max-width: 150px;
}

.field {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.field:first-child {
    margin-top: 20px;
}

.field__title,
.field__value {
    padding: 5px;
}

.field__title {
    color: #c6c6c6;
    width: 130px;
}

.field__title.lms-checkbox-question{
    display: inline-block;
    width: 110px;
    text-align: right;
}

.field__title h4 {
    margin-bottom: 5px;
}

.field__value {
    width: calc(100% - 150px);
    display: flex;
    align-items: center;
}

.field__value.lms-forms-select{
    width: calc(100% - 250px);
}

.lms-quiz-wrap .quiz_hint{
    width: 100%;
}

@media screen and (min-width: 1440px) {
    .lms-quiz-wrap{
        padding-right: 100px;
    }
}

.lms-forms-input-wrap .field__value{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.lms-forms-input-wrap input[type="text"]{
    width: 100%;
}

.lms-forms-input-wrap input[type="checkbox"]{
    margin-left: 20px;
    margin-top: 3px;
}

.field__value select {
    width: 100%;
    max-width: 200px;
}

.field__value textarea {
    width: 100%;
    max-width: 400px;
    min-height: 100px;
}

.field__help {
    color: #c6c6c6;
    font-size: 12px;
    margin-left: 10px;
    vertical-align: top;
    line-height: 12px;
}

/*Progress meta box*/
.lsm-progress{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 15px;
}
.lsm-progress .lsm-progress-list{
    flex: 1 1 30%;
    padding-left: 28px;
}

.lsm-progress-list ul{
    margin: 0;
}

.lsm-progress .lsm-progress-elem{
    position: relative;
}

.lsm-progress .lsm-progress-elem:after{
    content: "";
    position: absolute;
    left: -28px;
    height: 17px;
    width: 17px;
    background-color: #999;
}
.lsm-complete.lsm-progress-elem:after{
    background-color: #158920;
}
.lsm-in-progress.lsm-progress-elem:after{
    background-color: #CF972F;
}
.lsm-failed.lsm-progress-elem:after{
    background-color: #AB2828;
}
.lsm-pending.lsm-progress-elem:after{
    background-color: #D1D0D1;
}

.lsm-progress .lsm-progress-line{
    flex: 1 1 70%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding-right: 100px;
}

.lsm-progress-line-point{
    height: 70px;
}

.lsm-progress-line .lsm-line-complete{
    background-color: #158920;
}
.lsm-progress-line .lsm-line-in-progress{
    background-color: #CF972F;
}
.lsm-progress-line .lsm-line-failed{
    background-color: #AB2828;
}
.lsm-progress-line .lsm-line-pending{
    background-color: #D1D0D1;
}

.lsm-link-wrap{
    padding-right: 15px;
}
.lsm-link-wrap.right{
    text-align: right;
}
.lsm-link-wrap a{
    text-decoration: none;
}

#lms_course_slides_meta_box .inside{
    padding: 0;
    margin: 0;
}

#lms_course_slides_meta_box .widefat{
    border: none;
}

.lms-links .lms-export-slide a:last-child{
    margin-left: 15px;
}

.lms-links{
    height: 56px;
}

.lms-links td{
    vertical-align: middle;
}

.lms-title-column{
    width: 40%;
}
.lms-date-column{
    width: 100px;
}

.lms-puzzle-wrap{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    padding: 20px 0;
}

.lms-puzzle-wrap .slide-content__image{
    flex: 0 0 33.33333%;
    height: 200px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.lms-puzzle-wrap .slide-content__image .js-slide-image{
    text-align: center;
}
.lms-puzzle-wrap .slide-content__image .field__title{
    text-align: center;
    margin-bottom: 15px;
}

.lms-puzzle-wrap .slide-content__image:nth-child(1),
.lms-puzzle-wrap .slide-content__image:nth-child(2){
    border-right: 1px solid #F1F1F1;
}
.lms-puzzle-wrap .slide-content__image:nth-child(n+4){
    border-top: 1px solid #F1F1F1;
    border-right: 1px solid #F1F1F1;
}
.lms-puzzle-wrap .slide-content__image:nth-child(3n+3){
    border-right: none;
}

.lms-burger{
    height: 1px;
    width: 20px;
    background-color: #999;
    position: relative;
    display: inline-block;
}

.lms-burger:before{
    height: 1px;
    width: 20px;
    content: "";
    background-color: #999;
    top: -5px;
    position: absolute;
}

.lms-burger:after{
    height: 1px;
    width: 20px;
    content: "";
    background-color: #999;
    bottom: -5px;
    position: absolute;
}