.lms-slide-quiz[data-quiz-type="drag_and_drop"] {
  &.passed {
    .lms-check-dnd {
      display: none;
    }
  }
}

.lms-dnd-quiz {
  &-board {

  }

  &-drag {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item {
      width: 33%;
      min-height: 100px;

      &--empty {
        .lms-dnd-quiz-drag__item-content {
          border: 3px dashed #3c763d;
        }
      }

      &-text {
        text-align: center;
      }

      &-content {
        min-height: 94px;
        border: 3px solid transparent;

        & > * {
          cursor: pointer;
        }
      }
    }
  }

  &-drop {
    display: flex;

    &__zone {
      &-outher {
        width: 33%;
      }

      min-height: 200px;

      &-text {
        pointer-events: none;
      }

      &-placeholder {
        pointer-events: none;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.lms-dnd-dragula {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
}
