.lms-slide-quiz[data-quiz-type="drag_and_drop"] {
  &.passed {
    .lms-check-dnd {
      display: none;
    }
  }
}

.board {
  position: relative;
  margin-left: 1%;
}

.board-column {
  position: absolute;
  left: 0;
  right: 0;
  width: 30%;
  margin: 0 1.5%;
  //background: #f0f0f0;
  border-radius: 3px;
  z-index: 1;

  &.initial {
    width: 100%;

    .board-item {
      width: 30%;
    }
  }
}

.board-column.muuri-item-releasing {
  z-index: 2;
}

.board-column.muuri-item-dragging {
  z-index: 3;
  cursor: move;
}

@media (max-width: 600px) {
  .board-column-header {
    text-indent: -1000px;
  }
}

.board-column-content {
  position: relative;
  border: 10px solid transparent;
  min-height: 170px;
}

.board-item {
  position: absolute;
  width: 100%;
  margin: 5px 0;
}

.board-item.muuri-item-releasing {
  z-index: 9998;
}

.board-item.muuri-item-dragging {
  z-index: 9999;
  cursor: move;
}

.board-item.muuri-item-hidden {
  z-index: 0;
}

.board-item-content {
  position: relative;
  padding: 20px;
  cursor: pointer;

  &.drag {
    max-width: 200px;
    margin: auto;
  }
  //background: #fff;
  img {
    // max-width: 200px;
  }
}

.board-column-content-placeholder {
  width: 90%;
  padding-bottom: 90%;
  margin-left: 5%;
  position: absolute;
  left: 0;
  float: left;

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    pointer-events: none;
  }
}

@media (max-width: 600px) {
  .board-item-content {
    text-align: center;
  }
  .board-item-content span {
    display: none;
  }
}