.lms-slide-quiz[data-quiz-type="puzzle"] {
  &.passed {
    .lms-check-puzzle {
      display: none;
    }
  }

  .lms-check-puzzle {
    margin-top: 20px;
  }

  .lms-quiz__wrapper {
    max-width: 700px;
  }
}

.lms-puzzles-grid {
  width: 100%;
  margin: auto;
  position: relative;

  &__item {
    display: block;
    position: absolute;
    width: 33%;
    padding-bottom: 33%;
    float: left;
    margin: 0px;
    text-align: center;
    z-index: 1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &-wrapper {
      position: absolute;
      height: 100%;
      width: 100%;
      //object-fit: cover;
    }
    &-image {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      font-family: 'object-fit: contain;';
      left: 0;
    }

    &.muuri-item-dragging {
      z-index: 3;
    }

    &.muuri-item-releasing {
      z-index: 2;
    }

    &.muuri-item-hidden {
      z-index: 0;
    }
  }
}
