.slide-quiz[data-quiz-type="puzzle"] {
  &.passed {
    .check-puzzle {
      display: none;
    }
  }

  .check-puzzle {
    margin-top: 20px;
  }
}

.lms-puzzles-grid {
  width: 100%;
  margin: auto;
  position: relative;

  &__item {
    display: block;
    position: absolute;
    width: 33.333%;
    height: 75px;
    line-height: 75px;
    margin: 0px;
    text-align: center;
    z-index: 1;

    img {
      //height: 100%;
      //width: 100%;
      //object-fit: cover;
    }

    &.muuri-item-dragging {
      z-index: 3;
    }

    &.muuri-item-releasing {
      z-index: 2;
    }

    &.muuri-item-hidden {
      z-index: 0;
    }
  }
}
